<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CommunityBuilder</title>
    <link rel="stylesheet" href="/static/css/home-style.css">
    <link rel="stylesheet" href="/static/css/edit-style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossOrigin=""></script>
  </head>
  <body>
    <!-- Plain old HTML and jinja2 nav bar goes here -->
    <div class="header">
        <div class="logo-title">
            <a href="/"><img src="/static/images/sun-logo.png" alt="sun logo" class="logo"/></a>
            <a class="header-title" href="/">Community Builder</a>
        </div>
        <div class="header-links">
            <a id="home" href="/">Home</a> 
            <a id="map-link" href="/map/">Map</a>
            <a id="profile" href="/users/{{username}}/">Profile</a>
        </div>
    </div>
      <!-- here is where we divide the top from the main body content of the page -->
    <br>
    <br>
    <div id="user-outer-box">
        <!-- src set to sun-logo for simplicity, just change to {{filename}} -->
        <div id="user-intro">
            <img id="user-img"
            src="/static/images/sun-logo.png" 
            alt="{{filename}}"
            style="width: 50px; height: 50px"
            /><h1 id="user-fullname">{{fullname}}</h1>
        </div>

        <div id="user-info">
            <form action="/edit/" method="post" enctype="multipart/form-data">
                <h3>Username:</h3> 
                <p>{{ username }}</p>
                <h3>Email:</h3> 
                <input class="form-text-box" id="email" name="email" type="text" value="{{ email }}"></input>
                <h3>Age:</h3>
                <p>{{ age }}</p>
                <h3>About Me:</h3> 
                <textarea class="form-text-area" id="about-me" name="about-me">{{ about_me }}</textarea>
                <div>
                    <button type="submit" class="save-button">Save</button>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
  </body>
</html>